@font-face {
  font-family: ProximaNovaExCn;
  src: url('../fonts/ProximaNovaExCn-Semibold.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ProximaNovaExCn;
  src: url('../fonts/ProximaNovaExCn-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ProximaNovaExCn;
  src: url('../fonts/ProximaNovaExCn-Extrabld.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ProximaNovaExCn;
  src: url('../fonts/ProximaNovaExCn-Black.woff') format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}