// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    opacity: .5;
    width: 5px;
    border-radius: 10px;
  }

  scrollbar-color:var(--color-black) #10101a;
  scrollbar-width: thin;
}

// Body Locked
body {
  scroll-behavior: smooth;

  &.locked {
    overflow: hidden;

    &>main>* {
      pointer-events: none;
      user-select: none;
    }
  }
}

.main__body.hidden {
  overflow: hidden;
}

.site-container {
  overflow: hidden;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}