.rot {
  -webkit-animation: cursorAnim 1s linear infinite;
  animation: cursorAnim 1s linear infinite;
}

.navigation-wrapper {
  position: relative;
  z-index: 9999;
}

.navigation-wrapper .menu-top {
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42, 43, 56, .5);
  border: .2rem solid #2a2b37;
  -webkit-backdrop-filter: blur(104px);
  backdrop-filter: blur(104px);
  border-radius: 2rem;
}

@media only screen and (max-width:40em) {
  .navigation-wrapper .menu-top {
    width: 75%;
    padding: 2rem;
  }
}

.navigation-wrapper .menu-top .brand-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper .menu-top .brand-logo img:nth-child(2) {
  margin-left: 2rem;
}

.navigation-wrapper .menu-top .toggle-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  color: var(--color-gray);
  font-family: var(--font-main);
}

.toggle-button-wrapper span {
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: .1em;
  color: var(--color-gray);
}

@media only screen and (max-width:40em) {
  .navigation-wrapper .menu-top .toggle-button-wrapper span {
    display: none;
  }
}

.navigation-wrapper .menu-top .toggle-button-wrapper .toggle-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.brand-logo__text-wrapper {
  overflow: hidden;
  margin-left: 1rem;
}

.brand-logo__text {
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: .1em;
  color: var(--color-gray);
  -webkit-animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) infinite;
  animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) infinite;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #050810;
  color: var(--color-white);
  overflow: hidden;
  transition: left 430ms cubic-bezier(1, 0, 0, 1);
}

.menu-wrapper.open {
  left: 0;

  & .navigation-bottom {
    user-select: none;
    pointer-events: none;
  }
}

.navigation-top {
  margin-top: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

@media only screen and (max-width:57em) {
  .navigation-top {
    flex-direction: column;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    padding: 0 10px;
  }

  .navigation-top__title {
    font-size: 4rem;
  }

  .navigation-top__descr {

    font-size: 2.5rem;
    letter-spacing: 0;

  }

}

.navigation-top__left {
  text-align: inherit;
}

@media only screen and (max-width:57em) {
  .navigation-top__left {
    margin-bottom: 10rem;
  }
}

.navigation-top__left--links {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.navigation-top__left--links a {
  color: var(--color-light-blue);
  text-decoration: none;
  font-family: var(--font-main);
  line-height: 92.4%;
  letter-spacing: -.03em;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-top__left--links a:hover {
  color: var(--color-white);
}

.navigation-top__right {
  text-align: inherit;
}

.navigation-top__right a {
  font-size: 5rem;
  letter-spacing: -.03em;
  margin-top: 2rem;
  display: inline-block;
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--color-white);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-top__right a:hover {
  color: var(--color-light-purple);
}

.navigation-bottom {
  margin-top: 15rem;
  padding: 0 20rem;
  user-select: auto;
  pointer-events: auto;
  text-align: center;
}

@media only screen and (max-width:57em) {
  .navigation-bottom {
    display: none;
  }
}

.navigation-bottom__projects {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bottom__projects-card {
  width: 38.5rem;
  height: 28.8rem;
  text-decoration: none;
  position: relative;
  font-family: var(--font-main);
  font-size: 2.2rem;
  line-height: 130%;
  letter-spacing: -.085em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-bottom__projects-card:not(:last-child) {
  margin-right: 4rem;
}

.navigation-bottom__projects-card:hover {
  width: 41.5rem;
  height: 31.8rem;
}

.navigation-bottom__projects-card:hover img {
  opacity: .5;
}

.navigation-bottom__projects-card img {
  border-radius: 4.5rem;
  height: 100%;
  width: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-bottom__projects-card h2 {
  text-align: left;
  color: var(--color-white);
  position: absolute;
  top: 40%;
  left: 10%;
}

.navigation-h4 {
  font-family: var(--font-main);
  ;
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: .19em;
  font-weight: 100;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  position: relative;
}

.header-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/hand-left.png');
  transform: scale(2) rotate(70deg) translateY(90px);
}

@media only screen and (max-width:45em) {
  .header-wrapper:before {
    width: 20rem;
    height: 20rem
  }
}

.header-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 7rem;
  right: 0;
  width: 25rem;
  height: 45rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/hand-right.png');
  transform: scale(2) rotate(-50deg) translateY(135px) translateX(50px);
  z-index: -1
}

@media only screen and (max-width:45em) {
  .header-wrapper:after {
    width: 20rem;
    height: 40rem
  }
}

.header {
  grid-column: 2/14;
  margin-top: 25rem;
  padding: 0 6rem
}

@media only screen and (max-width:45em) {
  .header {
    grid-column: 1/15;
    padding: 0 4rem
  }
}

.header__hero--heading {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 9rem;
  line-height: 100%;
  letter-spacing: -.03em;
  color: var(--color-white);
  position: relative
}

@media only screen and (max-width:45em) {
  .header__hero--heading {
    font-size: 7rem
  }

  .header__hero--heading br {
    display: none
  }
}

@media only screen and (max-width:28em) {
  .header__hero--heading {
    font-size: 5rem
  }
}

.header__hero--heading-gradient {
  background: -webkit-linear-gradient(135deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
  background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite
}

.header__hero--cta {
  margin-top: 13rem;
  display: inline-block;
  font-family: var(--font-main);
  ;
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: .19em;
  color: var(--color-gray);
  text-decoration: none;
  position: relative
}

.header__hero--cta:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 50%;
  height: 1px;
  background: var(--color-gray);
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.header__hero--cta:hover:after {
  width: 100%
}

.header__footer {
  grid-column: 1/15;
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16rem;
  margin-bottom: 14rem;
  color: var(--color-gray)
}

@media only screen and (max-width:57em) {
  .header__footer {
    padding: 0 4rem
  }
}

.header__footer--right {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.header__footer a {
  color: var(--color-gray);
  text-decoration: none;
  font-family: var(--font-main);
  ;
  line-height: 92.4%;
  letter-spacing: -.03em;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.header__footer a:hover {
  color: var(--color-white)
}

.section-projects {
  grid-column: 2/14;
  margin-top: 20rem;
  padding: 0 6rem
}

@media only screen and (max-width:57em) {
  .section-projects {
    grid-column: 1/15
  }
}

@media only screen and (max-width:45em) {
  .section-projects {
    padding: 0;
  }
}

.section-projects p {
  margin-bottom: 15rem;
  margin-top: 2rem
}

.section-projects .project-card {
  width: 80%;
  margin: 20rem auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, .5)), to(rgba(15, 15, 24, .5)));
  background: -webkit-linear-gradient(top, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  border: .2rem solid #20222e;
  border-radius: 7.3rem;
  display: flex;
  align-items: center;
  padding: 5rem;
  position: relative
}

@media only screen and (max-width:57em) {
  .section-projects .project-card {
    width: 100%;
    padding: 3rem;
    margin: 10rem auto;
    border-radius: 6.3rem;
    flex-direction: column
  }
}


@media only screen and (max-width:22em) {
  .section-projects .project-card {
    width: 100%
  }
}

.section-projects .project-card:before {
  content: "";
  display: block;
  position: absolute;
  top: -5rem;
  right: -5rem;
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain
}

@media only screen and (max-width:57em) {
  .section-projects .project-card:before {
    top: -3rem;
    right: -3rem;
    width: 12rem;
    height: 12rem
  }
}

.section-projects .project-card__left {
  margin-right: 3rem
}

@media only screen and (max-width:57em) {
  .section-projects .project-card__left {
    order: 2;
    display: flex;
    align-self: flex-start;
    display: none
  }
}

.section-projects .project-card__left h4 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  font-family: var(--font-main);
  font-size: 1.3rem;
  line-height: 92.4%;
  letter-spacing: .19em;
  color: #8b8b8b;
  line-height: 120%;

}

@media only screen and (max-width:57em) {
  .section-projects .project-card__left h4 {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-writing-mode: lr-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: lr-tb;
    margin-top: 3rem;
    margin-bottom: 2rem
  }
}

.section-projects .project-card__middle {
  width: 40rem;
  min-width: 40rem;
  height: 40rem;
  background-size: cover;
  position: relative;
  border-radius: 5.3rem;
  overflow: hidden
}

@media only screen and (max-width:57em) {
  .section-projects .project-card__middle {
    order: 1;
    border-radius: 5rem;
    height: 40rem
  }
}

@media only screen and (max-width:30em) {
  .section-projects .project-card__middle {
    border-radius: 3rem;
    height: 30rem;
    width: 30rem;
    min-width: 30rem;
  }
}

.section-projects .project-card__middle canvas {
  position: absolute;
  z-index: 0;
  width: 100% !important;
  height: 100% !important
}

.section-projects .project-card__middle img {
  width: 100%;
  height: 100%;
}


.section-projects .project-card__right {
  margin-left: 6rem
}

@media only screen and (max-width:57em) {
  .section-projects .project-card__right {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    order: 3;
    margin-top: 2rem
  }
}

.section-projects .project-card__right h2 {
  margin-bottom: 6rem;

  & span {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 120%;
  }
}

@media only screen and (max-width:57em) {
  .section-projects .project-card__right h2 {
    margin-bottom: 3rem
  }
}

.section-projects .project-card__link {
  display: inline-block;
  font-family: var(--font-main);
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: .19em;
  text-decoration: none;
  position: relative
}

.section-projects .project-card__link:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 50%;
  height: 1px;
  background: var(--color-gray);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section-projects .project-card__link:hover:after {
  width: 100%;
}

.section-projects .project-card__socials {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;

  & a img {
    transition: transform 0.2s linear;
  }

  & a img:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width:57em) {
  .section-projects .project-card__socials {
    width: 6.5rem;
    margin-top: 5rem;
  }
}

.section-reviews__bg {
  background-color: #050810;
  border-radius: 2rem;
}

.section-reviews {
  grid-column: 1/15;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  padding: 8rem 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  @media (max-width: $breakpoint768) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.section-reviews__top {
  grid-column: 2/14;
  padding: 0 6rem;
}

@media only screen and (max-width:57em) {
  .section-reviews__top {
    grid-column: 1/15;
  }
}

@media only screen and (max-width:45em) {
  .section-reviews__top {
    padding: 0 4rem;
  }
}

.section-reviews__top p {
  margin-top: 1.5rem;
}

.section-reviews__bottom {
  grid-column: 1/15;
  overflow-x: hidden;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.section-reviews__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  width: 100%;
  height: 100%;
}

.section-reviews__bottom-wrapper .review-card {
  background: #171e2f;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1.2rem;
}

.section-reviews__bottom-wrapper .review-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section-reviews__bottom-wrapper .review-card__h3 {
  font-size: 1.9rem;
  line-height: 81.4%;
  letter-spacing: -.01em;
  color: #585e6e;
  margin-top: 1.5rem;
  font-weight: 100;
}

.section-reviews__bottom-wrapper .review-card__h2 {
  font-size: 1.7rem;
  line-height: 120.4%;
  letter-spacing: .01em;
  color: var(--color-white);
  font-weight: 100;
}

.review-card__anim1 {
  -webkit-animation: reviewCardAnim1 25s ease-in-out infinite alternate;
  animation: reviewCardAnim1 25s ease-in-out infinite alternate
}

.review-card__anim1:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.review-card__anim2 {
  -webkit-animation: reviewCardAnim2 25s ease-in-out infinite alternate;
  animation: reviewCardAnim2 25s ease-in-out infinite alternate;
}

.review-card__anim2:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.section-contact {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 12rem;

  @media (max-width: $breakpoint768) {
    margin-top: 0;
  }
}

@media only screen and (max-width:57em) {
  .section-contact {
    grid-column: 1/15;
  }
}

@media only screen and (max-width:45em) {
  .section-contact {
    padding: 0;
  }
}

.section-contact__h2 {
  font-size: 4.5rem;
  line-height: 130.4%;
  letter-spacing: -.06em;
  color: var(--color-gray);
  font-weight: 100;
  margin-top: 4rem;
}

@media only screen and (max-width:56.25em) {
  .section-contact__h2 {
    font-size: 4rem;
  }
}

@media only screen and (max-width:37.5em) {
  .section-contact__h2 {
    font-size: 3rem;
  }
}

.section-contact__h2 a {
  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.section-contact__h2 a:hover {
  color: var(--color-light-blue);
}

.section-socials {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 12rem;
}

@media only screen and (max-width:57em) {
  .section-socials {
    grid-column: 1/15;
  }
}

@media only screen and (max-width:45em) {
  .section-socials {
    padding: 0;
  }
}

.section-socials p {
  margin-top: 2rem;
}

.section-socials--links {
  margin-top: 4rem;
  grid-gap: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 40rem;
}

.section-socials--links,
.section-socials a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-socials a {
  color: var(--color-gray);
  text-decoration: none;
  font-family: var(--font-main);
  ;
  line-height: 92.4%;
  letter-spacing: -.03em;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.section-socials a:hover {
  color: var(--color-white);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12rem;
  padding: 3rem 6rem;
  border-top: 1px solid hsla(0, 0%, 76.9%, .25);
}

@media only screen and (max-width:45em) {
  .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.footer__socials {
  width: 6rem;
}

.footer__socials,
.speaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speaker {
  width: 7rem;
  height: 4rem;
  border: .2rem solid var(--color-purple);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  position: relative;
}

.speaker__toggle {
  position: absolute;
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.speaker__muted img {
  vertical-align: middle;
}

.speaker__unmuted {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.speaker__unmuted .rect1-anim {
  -webkit-animation: rect1Anim 1s ease-in-out infinite alternate;
  animation: rect1Anim 1s ease-in-out infinite alternate;
}

.speaker__unmuted .rect2-anim {
  -webkit-animation: rect2Anim 1s ease-in-out infinite alternate;
  animation: rect2Anim 1s ease-in-out infinite alternate;
}

.speaker__unmuted .rect3-anim {
  -webkit-animation: rect3Anim 1s ease-in-out infinite alternate;
  animation: rect3Anim 1s ease-in-out infinite alternate;
}

.speaker__unmuted .rect4-anim {
  -webkit-animation: rect4Anim 1s ease-in-out infinite alternate;
  animation: rect4Anim 1s ease-in-out infinite alternate;
}

.speaker__toggle--anim {
  left: 54%;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 58%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@media only screen and (max-width:62.5em) {
  html {
    font-size: 51.25%;
  }
}

@media only screen and (max-width:56.25em) {
  html {
    font-size: 49%;
  }
}

@media only screen and (max-width:37.5em) {
  html {
    font-size: 46%;
  }
}

@media only screen and (min-width:140.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  overflow-x: hidden;
  background: #10101a;
  background-size: 400% 400%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

@media (max-width: $breakpoint768) {
  .main-container {
    padding: 0 15px;
  }
}


.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #10101a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 129993994;
  display: grid;
  place-content: center;
  transition: top 0.3s linear;
}

.preloader__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader__left {
  margin-right: 1rem;
}

.preloader__left {
  display: flex;
  align-items: center;
  width: 50px;
  min-width: 50px;

  & p {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    line-height: 100%;
  }

  & p:nth-child(1) {
    color: #000;
    background-color: #fff;
  }

  & p:nth-child(2) {
    color: #fff;
    background-color: #000;
  }
}

.brand-logo__icon {
  display: flex;
  align-items: center;
  width: 50px;
  min-width: 50px;

  & p {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    line-height: 100%;
  }

  & p:nth-child(1) {
    color: #000;
    background-color: #fff;
  }

  & p:nth-child(2) {
    color: #fff;
    background-color: #000;
  }
}

.preloader__right {
  margin-left: 1rem;
  width: max-content;
  height: 4rem;
  overflow: hidden;
  position: relative;
}

.preloader__right:before {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #10101a), color-stop(30%, rgba(16, 16, 26, 0)));
  background-image: -webkit-linear-gradient(top, #10101a 5%, rgba(16, 16, 26, 0) 30%);
  background-image: linear-gradient(180deg, #10101a 5%, rgba(16, 16, 26, 0) 30%)
}

.preloader__right:after,
.preloader__right:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.preloader__right:after {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #10101a), color-stop(30%, rgba(16, 16, 26, 0)));
  background-image: -webkit-linear-gradient(bottom, #10101a 5%, rgba(16, 16, 26, 0) 30%);
  background-image: linear-gradient(0deg, #10101a 5%, rgba(16, 16, 26, 0) 30%);
}

.preloader__text {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 210%;
  letter-spacing: .19em;
  text-transform: uppercase;
  color: var(--color-white);
  -webkit-animation: preloaderTextAnim 12s linear infinite;
  animation: preloaderTextAnim 12s linear infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.heading-1 {
  display: flex;
  align-items: center;
  font-size: 5rem;
  letter-spacing: -.03em;
  font-family: var(--font-main);
}

@media only screen and (max-width:56.25em) {
  .heading-1 {
    font-size: 4.25rem;
  }
}

@media only screen and (max-width:37.5em) {
  .heading-1 {
    font-size: 3.5rem;
  }
}

.heading-1 span {
  margin-right: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.heading-1__sub span {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-white)), to(var(--color-white)));
  background-image: -webkit-linear-gradient(left, var(--color-white), var(--color-white));
  background-image: linear-gradient(to right, var(--color-white), var(--color-white));
}

.project-card:hover {
  & .heading-2 {
    background: -o-linear-gradient(135deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite 0.5s;
    transition: all 0.2s linear;
  }
}

.heading-2 {
  font-size: 4.2rem;
  line-height: 105%;
  letter-spacing: -.03em;
  color: var(--color-white);
  font-family: var(--font-main);
  transition: all 0.2s linear 0.1s;
}

@media only screen and (max-width:57em) {
  .heading-2 {
    line-height: 125%;
  }
}

@media only screen and (max-width:56.25em) {
  .heading-2 {
    font-size: 3.5rem;
  }
}

.alexxandria-anim {
  background: -webkit-linear-gradient(135deg, #63898a, #9fbcbf, var(--color-white), var(--color-white));
  background: linear-gradient(-45deg, #63898a, #9fbcbf, var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s ease-in-out;
  animation: gradient 3s ease-in-out;
}

@media only screen and (max-width:57em) {
  .alexxandria-anim {
    line-height: 125%;
  }
}

.safarika-anim {
  background: -webkit-linear-gradient(135deg, #fbb034, #fd0, var(--color-white), var(--color-white));
  background: linear-gradient(-45deg, #fbb034, #fd0, var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 400%;
  line-height: 105%;
}

.heatrow-anim,
.safarika-anim {
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 3s ease-in-out;
  animation: gradient 3s ease-in-out;
}

.heatrow-anim {
  background: -webkit-linear-gradient(135deg, #045de9, #09c6f9, var(--color-white), var(--color-white));
  background: linear-gradient(-45deg, #045de9, #09c6f9, var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 400%;
}

.adeola-anim {
  background: -webkit-linear-gradient(135deg, var(--color-light-blue), var(--color-light-purple), var(--color-white), var(--color-white));
  background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-white), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s ease-in-out;
  animation: gradient 3s ease-in-out;
}

.about-text {
  grid-column: 2/14;
  font-size: 2.7rem;
  line-height: 130.4%;
  color: var(--color-gray);
  display: block;
  padding: 0 6rem;
}

.about-text span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 3.7rem;
}

.about-block {}

.about-block__title {
  margin-bottom: 10px;
  font-size: 3.7rem;
}

.about-block__List {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.about-block__item {
  position: relative;
  padding-left: 20px;
}

.about-block__item::after {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  height: 2px;
  width: 10px;
  background-color: #fff;
}

.about-block__descr {}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (max-width:56.25em) {
  .about-text {
    grid-column: 1/15;
    padding: 0;
  }

  // .about-text br {
  //   display: none;
  // }
}

.paragraph {
  font-size: 1.7rem;
  line-height: 130.4%;
  color: var(--color-gray);
}

.paragraph__sub {
  color: #8b8b8b;
}

.review-card {
  max-width: 400px;
  min-width: 400px;
  width: 100%;
}

.review-card__top--right img {
  width: 40px;
  height: 40px;
}

.review-card__link {
  font-size: 1.9rem;
  line-height: 81.4%;
  letter-spacing: -.01em;
  color: #585e6e;
  font-weight: 100;
}

.navigation-top__content {}

.navigation-top__descr {
  max-width: 760px;
  margin: 0 auto;
  font-size: 3rem;
  letter-spacing: -.03em;
  display: inline-block;
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--color-white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-top__title {
  margin: 8rem 0 2rem;
  font-size: 5rem;
  letter-spacing: -.03em;
  display: inline-block;
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--color-white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation-top__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navigation-top__social {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;


  & svg {
    width: 50px;
    height: 50px;
    transition: transform 0.2s linear;
  }

  &:hover svg {
    transform: scale(1.2);
  }
}

.navigation-top__link {}

.telegram {}

.whatsapp {}

.email {}